{% from '../shop-item/shop-item.njk' import shopItem %}

<div>
  <h2 class="text-[24px] md:text-[32px] mb-4">
    Buy items
  </h2>
  <div class="grid grid-cols-4 gap-4 max-w-[242px] justify-evenly">
    {% for item in DATA.shop_items %}
      {{ shopItem(item) }}
    {% endfor %}
  </div>
</div>
