.transition-active {
  transition: color $default-transition-duration $default-transition-function,
    background $default-transition-duration $default-transition-function,
    border-color $default-transition-duration $default-transition-function,
    opacity $default-transition-duration $default-transition-function;
}

.transition-hover {
  transition: none;
}

body {
  background-color: #000;
  color: #fff;
  font-family: 'athelas', Georgia, serif;
  font-size: 18px;
}

button {
  &:focus-visible {
    outline: 3px solid #b262cb;
    outline-offset: 3px;
  }
}
