{% from '../button/button.njk' import button %}

<div class="popup" data-popup="activity-edit">
  <div class="popup__box flex flex-col" data-popup-box>
    <button class="popup__close" data-popup-close>
      <img width="32" height="32" src="/close.png" alt="" />
    </button>
    <div class="popup__box-inner h-full flex flex-grow flex-col items-center">
      <h2 class="popup__title">
        Edit Activity
      </h2>
      <div data-activity-edit-form></div>
    </div>
  </div>
</div>
