.inventory {
  $gap-color: rgba(#28282a, 0.8);
  display: flex;
  width: 60px * 4 + 2px;
  flex-wrap: wrap;
  align-items: start;
  border-right: 2px solid $gap-color;
  border-bottom: 2px solid $gap-color;

  &__row {
    display: flex;

    &:last-child {
      border-bottom: 2px solid $gap-color;
    }
  }

  &__cell {
    display: flex;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border: 2px solid $gap-color;
    border-right: none;
    border-bottom: none;
    background-color: rgba(#101012, 0.5);
  }
}
