.popup {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  will-change: opacity, visibility;

  &__box {
    position: relative;
    width: 30%;
    min-width: 640px;
    padding: 40px 60px 45px;
    border: 3px solid #312e24;
    background-color: #111;
    background-image: url('/popup-bg.jpg');
    background-size: cover;
    border-radius: 5px;
    text-align: center;
  }

  &__close {
    @include hover-default;
    position: absolute;
    top: 18px;
    right: 18px;
    user-select: none;
  }

  &__title {
    margin-bottom: 30px;
    font-size: 32px;
  }

  &__content {
    text-align: center;
  }

  &__heading {
    margin-bottom: 14px;
    color: #999;
    font-size: 24px;
  }

  &__activity {
    font-size: 20px;
  }

  &__activity-inner {
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 70px;
  }

  &__activity-cell {
    overflow: hidden;
    max-width: 190px;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:first-child {
      max-width: 125px;
    }
  }

  &__activity-highlight {
    color: #7a6953;
  }

  &__button-activity {
    @include hover-default;
  }

  &__button-add {
    @include hover-default;
  }

  &__buttons {
    margin-top: 50px;
  }
}
