{% macro popup(props) %}
  <span class="popup" data-popup>
    <span class="popup__description" data-popup-description>
      {{ props.description|safe }}
    </span>
    <span class="popup__price">
      Price: <span data-popup-price>{{ props.price }}</span>
    </span>
  </span>
{% endmacro %}
