<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>
      Life Balancer
    </title>
    <meta name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="description" content="Set a proper description" />

    {% block stylesheets %}
      <link rel="stylesheet" href="{{ STATIC_PATH }}/css/tailwind.css" />
      <link rel="stylesheet" href="{{ STATIC_PATH }}/css/styles.css" />
      <link rel="stylesheet" href="https://use.typekit.net/hzs3dcj.css" />
    {% endblock %}

    <link rel="apple-touch-icon"
      sizes="180x180"
      href="{{ STATIC_PATH }}/favicon/apple-touch-icon.png" />
    <link rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ STATIC_PATH }}/favicon/favicon-32x32.png" />
    <link rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ STATIC_PATH }}/favicon/favicon-16x16.png" />
    <link rel="shortcut icon" href="{{ STATIC_PATH }}/favicon/favicon.ico" />
    <link rel="manifest" href="{{ STATIC_PATH }}/favicon/site.webmanifest" />
  </head>
  <body>
    {% svg_sprite %}

    {% block content %}

    {% endblock %}

    {% block scripts %}
      <script src="{{ STATIC_PATH }}/js/bundle.js"></script>
    {% endblock %}
  </body>
</html>
