.shop-item {
  @include button-reset;
  position: relative;
  display: flex;
  width: 46px;
  height: 46px;
  align-items: center;
  justify-content: center;
  background-color: rgba(#111, 0.8);
  background-image: url(/shop-item-background.png);
  background-size: cover;

  &:hover {
    z-index: 1;

    .shop-item__image {
      opacity: 0.5;
      transition-duration: 0.1s;
    }

    .popup {
      opacity: 1;
      visibility: visible;
    }
  }

  &__image {
    max-width: 66%;
    object-fit: cover;
    transition: opacity 0.2s ease-out;
  }
}
