{% from '../popup/popup.njk' import popup %}

{% macro shopItem(props) %}
  <button class="shop-item">
    <img class="shop-item__image" src="/shop/{{ props.id }}.png" alt="" />
    {{ popup(props) }}
  </button>
{% endmacro %}
