.paper-icon {
  @include button-reset;
  @include hover-default;

  position: relative;
  width: 26px;
  height: 26px;
  background-image: url(/paper-icon.png);
  background-size: cover;

  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 3px;
    background-color: #000;
    content: '';
    transform: translate(-50%, -50%);
  }

  &._plus {
    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 3px;
      height: 50%;
      background-color: #000;
      content: '';
      transform: translate(-50%, -50%);
    }
  }

  &._disabled {
    cursor: default;
    opacity: 0.3;
    pointer-events: none;
  }
}
