<div class="dice-roll" data-dice-roll-container>
  <button class="dice-roll__close" data-dice-close-button></button>
  <div class="dice-roll__box" data-dice-box>
    <div class="dice-roll__title">
      Required
    </div>
    <div class="dice-roll__required-number">
      <span data-dice-required-number>-1</span>
    </div>
    <div class="dice-roll__dice">
      <img class="dice-roll__dice-svg" src="/dice-d20.png" alt="DND D20 Dice" />
      <div class="dice-roll__dice-number-container">
        <div class="dice-roll__dice-number" data-dice-number>
          ?
        </div>
      </div>
    </div>
    <button class="dice-roll__button" data-dice-button-roll>Roll</button>
    <div class="dice-roll__money space-x-3" data-dice-money-container>
      <img src="/money.png"
        alt=""
        class="w-[30px] flex-shrink-0 relative top-[0.15em]" />
      <span>+<span data-dice-money-amount>0</span></span>
    </div>
    <div class="dice-roll__no-reward" data-dice-no-reward>
      No reward this time. Sorry!
    </div>
    <button class="dice-roll__button _okay" data-dice-button-okay>Okay</button>
  </div>
</div>
