@keyframes shake {
  0%,
  100% {
    transform: translate(0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(-3px, 1px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate(3px, -1px);
  }
}

.dice-roll {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(#000, 0.85);
  opacity: 0;
  visibility: hidden;
  will-change: transform;

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border: 2px solid #8f8986;
    border-radius: 3px;
    transition-duration: 0.35s;
    transition-property: border-color;
    transition-timing-function: ease-out;

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 2px;
      background-color: #8f8986;
      content: '';
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 2px;
      background-color: #8f8986;
      content: '';
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:before,
    &:after {
      transition-duration: 0.35s;
      transition-property: background-color;
      transition-timing-function: ease-out;
    }

    &:hover {
      border-color: #fff;
      transition: 0.1s;

      &:before,
      &:after {
        background-color: #fff;
        transition: 0.1s;
      }
    }

    &:active {
      border-color: #999;
      transition: none;

      &:before,
      &:after {
        background-color: #999;
        transition: none;
      }
    }
  }

  &__box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;

    > * {
      will-change: transform;
    }
  }

  &__title {
    margin-bottom: -0.4em;
    font-size: 32px;
    font-family: Georgia, serif;
  }

  &__required-number {
    margin-bottom: 1em;
    color: $color-accent;
    font-size: 40px;
    font-family: Georgia, serif;
  }

  &__dice {
    position: relative;
    fill: #c5c1b3;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &-svg {
      width: 180px;
      max-width: 100%;
    }

    &-number {
      position: absolute;
      color: #000;
      font-size: 50px;
      font-weight: 700;
      text-align: center;
      text-shadow: 0 -2px 0 rgba(#fff, 0.5);
      will-change: transform;

      &._rolling {
        animation: shake 0.5s ease-in-out infinite;
      }
    }
  }

  &__money {
    position: absolute;
    bottom: -45px;
    display: flex;
    align-items: center;
    margin-top: 1em;
    color: $color-accent;
    font-size: 28px;
    visibility: hidden;
    opacity: 0;
    user-select: none;
  }

  &__no-reward {
    position: absolute;
    bottom: -45px;
    font-size: 20px;
    visibility: hidden;
    opacity: 0;
    text-align: center;
  }

  &__button {
    @include button-reset;
    position: absolute;
    bottom: -66px;
    display: flex;
    min-width: 100px;
    height: 40px;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    margin-top: 2em;
    background-color: #c2af8e;
    border-radius: 10px;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.02em;
    transition: transform 0.1s ease-out, opacity 0.35s ease-out;
    opacity: 0;

    &:active {
      transform: scale(1.05);
    }

    &:hover {
      opacity: 0.8;
      transition-duration: 0.1s;
    }

    &._okay {
      bottom: -120px;
      visibility: hidden;
      opacity: 0;
    }
  }
}
