{% extends './_layouts/base.njk' %}

{% from './components/button/button.njk' import button %}
{% from './components/shop-item/shop-item.njk' import shopItem %}

{% block content %}
  <img src="/background.jpg"
    alt=""
    class="fixed left-0 top-0 w-full h-full object-cover" />
  <div class="overlay fixed w-full h-full bg-[#040711] opacity-70"></div>
  <div class="page-home page relative">
    <div class="container relative">
      <div class="money absolute right-10 top-0 text-[28px] text-[#8c8c8c] flex items-center space-x-2">
        <img src="/money.png"
          alt=""
          class="w-[21px] flex-shrink-0 relative top-[0.15em]" />
        <span data-money-balance>2230</span>
      </div>
      <h1 class="title tracking-[0.06em] text-[40px] text-[#f4f4f4] mb-10">
        Life Balancer <span class="text-gray-300 text-[0.5em] text-[#797979] tracking-[0px]">v0.0.1</span>
      </h1>
      <div class="space-y-8">
        {% for item in DATA.learn_items %}
          <div data-learn-item="{{ item.id }}" class="select-none">
            <h2 class="text-[#abaeba] text-[28px] mb-3">
              {{ item.title }}
            </h2>
            <div>
              <div class="flex items-center">
                <div class="flex items-center space-x-6">
                  <button class="paper-icon _minus" data-button-minus></button>
                  <div class="flex items-center space-x-5" data-values>
                    {% for doc in range(item.hours) %}
                      <div class="learn-item-value w-[8px] rounded-[100%]">
                        <div class="pt-[100%]"></div>
                      </div>
                    {% endfor %}
                  </div>
                  <button class="paper-icon _plus" data-button-plus></button>
                </div>
                <div class="ml-6 flex">
                  {% include './components/dice/dice.njk' %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="mb-10 mt-10">
        <div class="text-[#abaeba] text-[20px]">
          Total hours: <span data-total-hours></span>
        </div>
      </div>
      <div>
        <h2 class="text-[32px] mb-4">
          Buy items
        </h2>
        <div class="flex space-x-5">
          {% for item in DATA.shop_items %}
            {{ shopItem(item) }}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="dice-roll" data-dice-roll-container>
    <button class="dice-roll__close" data-dice-close-button></button>
    <div class="dice-roll__box" data-dice-box>
      <div class="dice-roll__title">
        Required number: <span data-dice-required-number></span>
      </div>
      <div class="dice-roll__dice">
        <svg class="dice-roll__dice-svg"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 77 87.6"
          xml:space="preserve"
          data-dice>
          <polygon points="0.8,66.5 34.6,85.7 11.1,60.5 " />
          <polygon points="0,25.2 0,65.2 10.3,59.2 " />
          <polygon points="37,11.6 0.2,20.7 11.4,57.7 " />
          <polygon points="37.7,0 4.7,18 37.7,9.9 " />
          <polygon points="64.5,58.8 61.7,53.8 38.5,12 12.5,58.8 " />
          <polygon points="64,60.3 12.9,60.3 38.5,87.6 46.4,79.1 " />
          <polygon points="65.9,60.5 42.4,85.7 76.2,66.5 69.3,62.5 " />
          <polygon points="77,65.2 77,25.2 66.6,59.2 " />
          <polygon points="40,11.6 65.5,57.7 76.8,20.7 47,13.4 " />
          <polygon points="39.2,0 39.2,9.9 72.3,18 " />
        </svg>
        <div class="dice-roll__dice-number" data-dice-number>
          20
        </div>
      </div>
    </div>
  </div>
  <script>
    const DATA = {{ DATA|dump|safe }}
  </script>
{% endblock %}
