{% from '../tooltip/tooltip.njk' import tooltip %}

{% macro inventoryCell(props) %}
  <div class="inventory__cell inventory-cell" data-inventory-cell>
    {% if props.id %}
      <img src="/shop/{{ props.id }}.png" alt="" />
    {% endif %}
    {{
      tooltip({
        description: '',
        price: ''
      })
    }}
  </div>
{% endmacro %}
